.DS_Store
node_modules/
/dist/
npm-debug.log*
/test/unit/coverage/
/test/e2e/reports/

# API private config
/src/api/config.js

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
